* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
body {
  background: linear-gradient(to right, #5341b8, #000000);
  position: relative;
}
body > h1 {
  display: flex;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 38%;
  color: #eee;
  font-weight: bolder;
  font-size: 2rem;
  text-transform: uppercase;
}
.span-tow {
  grid-column: span 2;
}
.grid-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}
.grid-container button {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  outline: none;
  background-color: #111;
  color: #eee;
}
.grid-container .operator {
  background: #4fe09f75;
}
.grid-container > .output {
  grid-column: 1 / -1;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
.grid-container > .output > .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
.grid-container > .output > .current-operand {
  color: white;
  font-size: 2.5rem;
}
.grid-container button:hover {
  background-color: #eee;
  color: #111;
}
